<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Django application</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <form action="result">
        <div class="wrapper">
        <div class="input">
            sepal length: <input type="number" name="'sepal_length" required><br>
        </div>
        
        <div class="input">
            sepal width: <input type="number" name="'sepal_width" required><br>

        </div>
        <div class="input">
            petal length: <input type="number" name="'petal_length" required><br>

        </div>
        <div class="input">
            petal length: <input type="number" name="'petal_length" required><br>

        </div>
        <input type="submit">
        </div>
        

    </form>
</body>
</html>